{
  "name": "pivpn",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "./CHANGELOG.md"
      }
    ],
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/asset.min.css", "label": "CSS distribution"},
        {"path": "dist/asset.min.js", "label": "JS distribution"}
      ]
    }]
  ],
    "release": {
    "branches": [ "master", "beta", "test" ]
  },

  "branches": [
    {name: 'master'},
    {name: 'beta', channel: 'beta', prerelease: true},
    {name: 'test', channel: 'test', prerelease: true}
  ]
}
